/* 颜色渐变 */
/* body {
    font-family: 'Open Sans', sans-serif;
    font-size:13px;
    font-weight: 300;
    color:#666;
    -webkit-font-smoothing: subpixel-antialiased;
	position:relative;
    background: rgb(0,157,158);
    
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwOWQ5ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjIwJSIgc3RvcC1jb2xvcj0iIzFkNWU3NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjgwJSIgc3RvcC1jb2xvcj0iIzFkNWU3NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDlkOWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(0,157,158,1) 0%, rgba(29,94,119,1) 20%, rgba(29,94,119,1) 80%, rgba(0,157,158,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,157,158,1)), color-stop(20%,rgba(29,94,119,1)), color-stop(80%,rgba(29,94,119,1)), color-stop(100%,rgba(0,157,158,1)));
    background: -webkit-linear-gradient(top,  rgba(0,157,158,1) 0%,rgba(29,94,119,1) 20%,rgba(29,94,119,1) 80%,rgba(0,157,158,1) 100%);
    background: -o-linear-gradient(top,  rgba(0,157,158,1) 0%,rgba(29,94,119,1) 20%,rgba(29,94,119,1) 80%,rgba(0,157,158,1) 100%);
    background: -ms-linear-gradient(top,  rgba(0,157,158,1) 0%,rgba(29,94,119,1) 20%,rgba(29,94,119,1) 80%,rgba(0,157,158,1) 100%);
    background: linear-gradient(to bottom,  rgba(0,157,158,1) 0%,rgba(29,94,119,1) 20%,rgba(29,94,119,1) 80%,rgba(0,157,158,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009d9e', endColorstr='#009d9e',GradientType=0 );
}
 */
/* 颜色渐变 */
body {
    font-family: 'Open Sans', sans-serif;
    font-size:13px;
    font-weight: 300;
    color:#666;
    -webkit-font-smoothing: subpixel-antialiased;
    position:relative;
    background: rgb(0,157,158);
    
    /* background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwOWQ5ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjIwJSIgc3RvcC1jb2xvcj0iIzFkNWU3NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjgwJSIgc3RvcC1jb2xvcj0iIzFkNWU3NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDlkOWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(to bottom,  #22a7f0 0%,rgb(113, 196, 228) 20%,rgba(185, 234, 253, 0.85) 80%,#22a7f0 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#22a7f0), color-stop(20%,rgb(113, 196, 228)), color-stop(80%,rgba(185, 234, 253, 0.85)), color-stop(100%,#22a7f0));
    background: -webkit-linear-gradient(to bottom,  #22a7f0 0%,rgb(113, 196, 228) 20%,rgba(185, 234, 253, 0.85) 80%,#22a7f0 100%);
    background: -o-linear-gradient(to bottom,  #22a7f0 0%,rgb(113, 196, 228) 20%,rgba(185, 234, 253, 0.85) 80%,#22a7f0 100%);
    background: -ms-linear-gradient(to bottom,  #22a7f0 0%,rgb(113, 196, 228) 20%,rgba(185, 234, 253, 0.85) 80%,#22a7f0 100%); */

    background: linear-gradient(to bottom,  #ffffff 0%,rgb(160, 225, 251) 20%,rgba(0, 184, 255, 0.85) 80%,#ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009d9e', endColorstr='#009d9e',GradientType=0 );
}

.navbar {
    text-align:center;
}
.navbar .container-fluid > button {
    display:-webkit-inline-box;
    display:-moz-inline-box;
    display:-ms-inline-flexbox;
    display:-webkit-inline-flex;
    display:inline-flex;
}
.navbar-battery {
    width: 60px;
    height: 60px;
    position: absolute;
    right: 280px;
}
.navbar-battery img {
    margin: 9px 0 9px 0;
}
.flat-blue .card.summary-inline:hover {
    cursor:pointer;
}
.flat-blue .card.summary-inline.red:hover {
    background-color: red;
}
.flat-blue .card.summary-inline.yellow:hover {
    background-color: #ffb400;
}
.flat-blue .card.summary-inline.green:hover {
    background-color: #1ABC9C;
}
.flat-blue .card.summary-inline.blue:hover {
    background-color: #22A7F0;
}


.card .row > [class*="col-"]{
    margin-bottom: 4px;
    padding-right: 5px;
    padding-left: 5px;
}

#sate_hidden {/* 
    margin-left:20%;
    margin-right:20%; */
    padding:0;
}
#satellite_track_table {
    text-align: center;
}
#sate_checkbox .col-sm-2 {
    margin-bottom: 10px;
}
#sate_checkbox .bootstrap-switch-handle-on {
    background-color: green;
}
#sate_checkbox .bootstrap-switch-handle-off {
    background-color: #f0ad4e;
}
/* #sate_checkbox .bootstrap-switch-label {
    background-color: #00b8ff;
} */
/* .flat-blue .table.table-striped > tbody > tr:nth-of-type(odd){
    background-color: #98d3fb;
} */
@media (max-width: 768px) {
    .navbar-battery {
        right: 40px;
    }
    #canvas_storage {

        display: none;
    }
}

.form-horizontal .form-group .form-control-feedback {
    right:10px;
}
